body{
    background-color: #212529 !important;
}

.btn{
    margin: auto;
    margin-top: 3%;
    border-width: 3px !important;
    padding: 0px !important;
    
}

ul {
    list-style-type: none;
}

.card {
    min-height: 13rem;
}

.card-header {
    font-size: 2rem;
}

img {
    width: 500px !important;
    height: 500px !important;
    object-fit: cover;
    
}